<div class="pad">
  <div class="col-md-5 col-xs-12">
    <div ui-view="create">
    </div>
  </div>
  <div class="col-md-7 col-xs-12">
    <h1>signalR</h1>
   

    <input type="button" id="startStreaming" value="Send" />

    <p></p>
    <ul id="messages" style="list-style-type:none;"></ul>

    
    
  </div>
</div>
<!-- <script type="text/javascript" src="signalr.js"></script> -->
    <!-- <script src="node_modules/@aspnet/signalr/"></script> -->
<script type="text/javascript">

  	
</script>
