<div class="pad">
<h1 translate>Carshift</h1>


<div id="grid"></div>

<script type="text/x-kendo-template" id="template">
    <div class="refreshBtnContainer">
        <a href="\\#" class="k-pager-refresh k-link k-button" title="Refresh"><span class="k-icon k-i-reload"></span></a>
    </div>
    <div class="toolbar">
        <label class="category-label" for="category">Show cars in Call Center:</label>
        <input type="search" id="category" style="width: 150px"/>
       
    </div>
    <a class="k-button k-button-icontext k-grid-add" href="\\#"><span class="k-icon k-add"> </span>Add new record</a>
</script>
 <style>
                #grid .k-grid-toolbar
                {
                    padding: .6em 1.3em .6em .4em;
                }
                .category-label
                {
                    vertical-align: middle;
                    padding-right: .5em;
                }
                #category
                {
                    vertical-align: middle;
                }
                .refreshBtnContainer {
                    display: inline-block;
                }
                .toolbar {
                    float: right;
                }
            </style>
</div>