<!-- <script type="text/x-kendo-template" id="detail-template">    
    <div class="subgrid1"></div>
    <div class="subgrid2"></div>
</script>
<div id="grid"></div> -->

<!-- <script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
	<td>#: zoneId #</td>
	<td>#: zoneName #</td>
	<td>#: freeCarsCount #</td>
   
            # for (var i = 0; i < carsList.length; i++) { #
				<td>
					#: carsList[i].carString#
                </td>
			# } #
        
   </tr>
</script>
<div id="grid"></div> -->
<div id="example">
    <div id="grid"></div>
    <div id="wnd">

        <button ng-click="here()" class="k-button close-button">First in queue</button>
    </div>


    <script>

        var array = findZone()
        // drawGrid(array)
        function findZone() {
            var result;
            $.ajax({
                url: root + "ZonesAndCars",
                method: "GET",
                dataType: "json",
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }


        function drawGrid(data) {
            var gridData = flattenColumns(data);
            var gridColumns = generateColumns(gridData);
            $("#grid").kendoGrid({
                selectable: "cell",
                pageable: true,

                columns: gridColumns,
                scrollable: true,
                pageable: {
                    // pageSize: 15,
                    refresh: true
                },
                dataSource: {
                    data: gridData,
                    schema: {
                        model: {
                            id: "zoneId"
                        }
                    }

                },
                dataBound: function (e) {
                    var gridElement = this.element;
                    gridElement
                        .find(".cell-red")
                        .closest("td")
                        .css("background", "#ff3636");
                    gridElement
                        .find(".cell-blue")
                        .closest("td")
                        .css("background", "#db40c5");
                    gridElement
                        .find(".cell-green")
                        .closest("td")
                        .css("background", "#30d965");
                    gridElement
                        .find(".cell-yellow")
                        .closest("td")
                        .css("background", "#eef51b");
                }
            });
        }


        function flattenColumns(data) {
            var max = 0;
            for (var i = 0; i < data.length; i++) {
                if (data[i].carsList.length > max) {
                    max = data[i].carsList.length;
                }
                var carColumnsLength = max;
            }
            for (var i = 0; i < data.length; i++) {
                var cars = data[i].carsList;
                if (cars) {
                    for (var j = 0; j < carColumnsLength; j++) {
                        //for (var j = 0; j < 10; j++) {
                        if (cars[j]) {
                            data[i]["Car" + j] = {
                                carString: cars[j].carString,
                                dispatchStatus: cars[j].dispatchStatus,
                                operatingCompanyID: cars[j].operatingCompanyID,
                                carNumber: cars[j].carNumber,
                                postingId: cars[j].postingId,
                                carAndDriverAttributes: cars[j].carAndDriverAttributes
                            };
                        } else {
                            data[i]["Car" + j] = { carString: null, dispatchStatus: null };
                        }
                    }
                }
                delete data[i].carsList;
            }

            return data;
        }

        function generateColumns(response) {
            var sampleDataItem = response[0];
            var columns = [];
            for (var property in sampleDataItem) {
                if (property.indexOf("Car") != 0) {
                    columns.push({ field: property, width: "100px", locked: true });
                }
                else {
                    columns.push({
                        field: property + ".carString",
                        title: property, width: "110px",
                        template: "# if (data." + property + ".dispatchStatus == null) { #" +
                            "<span></span>" +
                            "# } else { #" +
                            "<span data-operating-company-id='#:" + property + ".operatingCompanyID#' class='car-cell #:getClassByStatus(data." + property + ".dispatchStatus)#'>#:" + property + ".carString#</span>" +
                            "# } #"
                    });
                }
            }

            return columns;
        }
        function getClassByStatus(status) {
            switch (status) {
                case 0:
                    className = "cell-green";
                    break;
                case 1:
                    className = "cell-blue";
                    break;
                case 2:
                    className = "cell-red";
                    break;
                case 3:
                    className = "cell-yellow";
                    break;
            }
            return className;
        }
        var wnd = $("#wnd")
            .kendoWindow({
                height: 100,
                width: 160,
                visible: false
            })
            .data("kendoWindow");

        $(".close-button").click(function () {
            $(this)
                .closest("[data-role=window]")
                .data("kendoWindow")
                .close();
        });
        $("#grid").on("click", ".k-grid-content td", function (e) {
            var cell = $(this);
            var span = cell.find(".car-cell");
            if (span.length > 0) {
                var operatingCompanyID = span.data().operatingCompanyId;
                wnd.title(e.target.innerText);
                wnd.center().open();
            }
        });

    </script>