<div class="pad">
	<h3 translate>Zone </h3>
	<div id="grid"></div>
	<div id="wnd">
		<button class="k-button close-button">First in queue</button>
	</div>
</div>
</div>
<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
	<td>#: zoneId #</td>
	<td>#: zoneName #</td>
	<td>#: freeCarsCount #</td>
	<td>#: waitTime #</td>
        <td>
            # for (var i = 0; i < carsList.length; i++) { #
				<button id= '#=carsList[i].carNumber#'  data-opid='#=carsList[i].operatingCompanyID#' onClick='firstInQueue(event);'style="display: inline-block "  class='#: carsList[i].dispatchStatusId #'>
					#: carsList[i].carString#
                </button>
			# } #
        </td>
   </tr>
</script>
<script>

	var wnd = $("#wnd")
		.kendoWindow({
			height: 100,
			width: 160,
			visible: false
		})
		.data("kendoWindow");

	$(".close-button").click(function (e) {
		var grid = $("#grid").data("kendoGrid");
		edit_queue(wnd.element.attr('data-cNum'), wnd.element.attr('data-opid'))
		$(this)
			.closest("[data-role=window]")
			.data("kendoWindow")
			.close();
		grid.dataSource.read();
		grid.refresh();
	});

	function firstInQueue(e) {
		wnd.element.attr('data-cNum', $(e.target).attr('id'));
		wnd.element.attr('data-opid', $(e.target).attr('data-opid'));
		wnd.title($(e.target).attr('id'));
		wnd.center().open();
	}
	function edit_queue(cNum, opid) {
		var id = $(this).attr('data-id');
		jQuery.ajax({
			url: root + "Cars/setQueue?carNumber=" + cNum + "&operatingCompanyId=" + opid,
			type: 'PUT',
			success: function (data) {
			}
		});
	}
</script>